@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body{
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
}

.dashboard-page{
    margin: 0;
}

.logout{
    color: white;
    text-decoration: none;
    padding: 1%;
}

.header{
    margin: 0 ;
    padding: "1%";
    background-color: #D7192D;
    display: flex;
    justify-content: space-between;
}

.header img{
    margin: 1%;
    width: 10%;
}

.header-text{
    text-align: center;
    color: white;
}

.tabs-container{
    width: 75%;
}

.dropdown{
    width: 20%;
    padding: 0 1%;
}

.tabs-outer-container{
    display: flex;
    justify-content: space-between;
}

.kpi-container{
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

.sla-page{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#sla-graph{
    width: 60%;
    height: 40%;
}

.sla_container div{
    -webkit-box-shadow: 2px 3px 18px -4px rgba(0,0,0,0.4); 
    box-shadow: 2px 3px 18px -4px rgba(0,0,0,0.4);
    border-radius: 20px;
    padding: 1em;
    margin: 1em;
}

.sla_container{
    margin: 1%;
}

.modebar{
    display: none !important;
}
